body {
    text-align:  center;
    background-color: rgb(230, 100, 14);
}
.cosas {
    background-color: blue;
}
.cabecera {
    font-size: xx-large;
    background-color: blueviolet;
    font-style: italic;
    color: crimson;
}